md-icon.avatar(md-svg-icon='{{ul.selected.avatar}}')
h2 {{ul.selected.name}}
p {{ul.selected.content}}
md-button.contact(md-no-ink='', ng-click='ul.showContactOptions($event)', aria-label='Contact User')
  md-tooltip Contact {{ ul.selected.name }}
  md-icon(md-svg-icon='share')